<ion-header>
  <ion-navbar>
    <ion-title (click)="getAllProdutos()">Produtos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="logout()">
        <ion-icon name="md-power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let produto of produtos">
    <ion-card-header>
      <div class="titulo">
        <span>{{produto.name}}</span>
      </div>
    </ion-card-header>

    <ion-card-content>
      <!-- <img src="assets/imgs/produtos.png"> -->
      <p><b>Valor: </b> R$ {{parseFloatList(produto.value)}}</p>
      <p><b>Quantidade: </b>{{produto.quantity}}</p>
      <p><b>Validade: </b> {{moment(produto.validity).add(3, 'hours').format('DD/MM/YYYY')}}</p>
    </ion-card-content>

    <ion-grid>
        <ion-row justify-content-center justify-content-around class="center">
          <ion-col col-3>
            <button  ion-button color="primary" clear icon-only (click)="editar(produto._id)">
              <ion-icon ios="md-create" md="md-create"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button color="danger" clear icon-only (click)="deletar(produto._id)">
              <ion-icon ios='md-trash' name='md-trash'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-fab right bottom class="fab-create">
    <button ion-fab color="personalised" class="button-create" (click)="incluir()">
      <ion-icon ios='md-add' name='md-add'></ion-icon>
    </button>
  </ion-fab>

</ion-content>
