<!--
  Generated template for the CriarProdutosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>
  <form padding [formGroup]="formProduto" (ngSubmit)="submit(); $event.preventDefault()"
    ion-fixed class="form">

    <ion-list no-lines>
      <ion-item *ngIf="error">
        <p>Por favor, verifique os dados e tente novamente.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="formProduto.get('name').errors && formProduto.get('name').dirty">
        <p *ngIf="formProduto.get('name').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade</ion-label>
        <ion-input type="number" spellcheck="false" autocapitalize="off" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item *ngIf="formProduto.get('quantity').errors && formProduto.get('quantity').dirty">
        <p *ngIf="formProduto.get('quantity').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <ion-input type="number" formControlName="value" placeholder="50,00"></ion-input>
      </ion-item>
      <ion-item *ngIf="formProduto.get('value').errors && formProduto.get('value').dirty">
        <p *ngIf="formProduto.get('value').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Data de validade</ion-label>
        <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="DD/MM/YYYY" formControlName="validity"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="formProduto.get('validity').errors && formProduto.get('validity').dirty">
        <p *ngIf="formProduto.get('validity').hasError('required')">Campo obrigatório</p>
      </ion-item>
    </ion-list>

    <button ion-button full type="submit" [disabled]="formProduto.invalid">Criar novo produto</button>

  </form>
</ion-content>
