// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title-md {
    color: #FFF;
}

.toolbar-background-md {
    background-color: rgb(24, 140, 185);
}

.bar-button-dark-md, .bar-button-clear-md-dark, .bar-button-md-dark {
    color: #FFF;
    background-color: transparent;
}

.center {
    text-align: center;
}

.fab-md-personalised {
    background-color: rgb(24, 140, 185);
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #FFF;
    background-color: transparent;
}

.page-criar-produtos .form {
    width: 100%;
}

.button.button-md.button-default {
    background-color: rgb(24, 140, 185);
}

.scroll-content {
    background-color: #F6F6F6;
}