alterar-produtos {
  background-color: rgba(0, 0, 0, 0.5);
  #content{
      top: 12%;
      width: 100%;
      height: 78%;
  }
  #header{
      top: 12%
  }
  .form{
    width: 100%;
    margin: 0 auto;
  }
}
